/*success colour: #6bd098, hover: #28a745*/
.navItem {
    color: #333333
}

.navItem:hover {
    color: black
}

.navbar-nav {
    padding-right: 1%;
}

.navbar {
    background: #e7e7e7;
    box-shadow: 0 6px 10px -4px rgb(0 0 0 / 30%)
}

#postal {
    min-width: 200px;
    max-width: 300px;
    margin: 8px;
}

#distanceSlider {
    margin: 8px;
}

.groceryItem {
    margin-top: 2%;
    margin-bottom: 2%;
}

.groceryInputbox {
    margin-bottom: 2%;
}

.groceryItemTags {
    margin-right: 2%;
    width: 100%
}

.btn-icon {
    border-radius: 50%;
    text-align: center;
    font-size: large;
}

.center {
    width:100%;
    display: flex;
    justify-content: center;
}

.add-space {
    margin-bottom:10%;
}

.footer {
    background-color: "#F8F8F8";
    border-top: "1px solid #E7E7E7";
    text-align: "center";
    padding: "20px";
    position: "fixed";
    left: "0";
    bottom: "0";
    height: "60px";
    width: "100%";
}

.inner-footer {
    display: 'block';
    padding: '20px';
    height: '60px';
    width: '100%';
}

.white-bg {
    background-color: white;
}

.add-padding {
    padding: 1%;
}